# Django Settings
SECRET_KEY=your-secret-key
DEBUG=False
ALLOWED_HOSTS=.vercel.app,your-domain.com

# Database (AWS RDS - Postgres suggested)
DATABASE_URL=postgres://user:password@host:port/dbname

# AWS S3 Storage (For Media Files)
USE_AWS=True
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_STORAGE_BUCKET_NAME=your-s3-bucket-name
AWS_S3_REGION_NAME=ap-south-1
